{% if currencies|length > 1 %}
<div class="pull-left">
<form action="{{ action}}" method="post" enctype="multipart/form-data" id="currency">
  <div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
    {% for currency in currencies %}
      {% if currency.code == code %}
      <span class="currency-title">{{ currency.title }}</span>
      {% endif %}
    {% endfor %}
    <i class="fa fa-angle-down"></i></button>
    <ul class="dropdown-menu">
      <li class="dropdown-triangle"></li>
      {% for currency in currencies %}
      {% if currency.code %}
      <li><button class="currency-select btn btn-block" type="button" name="{{ currency.code }}">{{ currency.title }}</button></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <input type="hidden" name="code" value="" />
  <input type="hidden" name="redirect" value="{{ redirect }}" />
</form>
</div>
{% endif %}
