<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content= "{{ keywords }}" />
{% endif %}
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
<link href="catalog/view/theme/rhplus/stylesheet/font-awesome.min.css" rel="stylesheet">
<link href="catalog/view/theme/rhplus/stylesheet/ionicons.min.css" rel="stylesheet">
<link href="catalog/view/theme/rhplus/stylesheet/stylesheet.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
<script src="catalog/view/theme/rhplus/javascript/common.js"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}"></script>
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body class="{{ class }}">
<nav class="side-nav side-nav-left">
  <div id="logo">
    {% if logo %}
    <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
    {% else %}
    <h1><a href="{{ home }}">{{ name }}</a></h1>
    {% endif %}
  </div>
  {{ menu }}
</nav>
<div class="site-overlay"></div>
<div id="container">
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="menu-btn pull-left"><i class="icon ion-ios-more" data-toggle="tooltip" data-placement="bottom" title="Menu"></i></div>
        <div class="account pull-right">
          <ul class="list-inline">
            <li class="dropdown"><a href="{{ account }}" class="dropdown-toggle icon-account" data-toggle="dropdown"><i class="icon ion-ios-person-outline" data-toggle="tooltip" data-placement="bottom" title="{{ text_account }}"></i></a>
              <ul class="dropdown-menu dropdown-menu-right text-center">
                <li class="dropdown-triangle"></li>
                {% if logged %}
                <li><a href="{{ account }}">{{ text_account }}</a></li>
                <li><a href="{{ order }}">{{ text_order }}</a></li>
                <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                <li><a href="{{ download }}">{{ text_download }}</a></li>
                <li><a href="{{ logout }}">{{ text_logout }}</a></li>
                {% else %}
                <li><a href="{{ register }}">{{ text_register }}</a></li>
                <li><a href="{{ login }}">{{ text_login }}</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
        <div class="search-btn pull-right">{{ search }}</div>
        <div class="shopping-bag pull-right">{{ cart }}</div>
        <div class="switchers pull-right">
        {{ currency }}
        {{ language }}
        </div>
      </div>
    </div>
  </div>
</header>
