<h3>{{ heading_title }}</h3>
<div class="row">
  {% for product in products %}
  <div class="product-layout product-grid col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb">
      {% if product.special %}
      <div class="sale" data-toggle="tooltip" data-placement="top" title="Sale"><i class="icon ion-ios-flame"></i></div>
      {% endif %}
      <figure>
        <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
        <figcaption>
          <div class="name"><a href="{{ product.href }}">{{ product.name }}</a></div>
          {% if product.price %}
          <div class="price">
            {% if not product.special %}
            {{ product.price }}
            {% else %}
            <span class="price-new">{{ product.special }}</span>
            {% endif %}
          </div>
          {% endif %}
        </figcaption>
      </figure>
    </div>
  </div>
  {% endfor %}
</div>
