<div id="showcase{{ module }}" class="showcase">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="item">
          <figure>
            <div class="image"><a href="{{ banners.3.link }}" title="{{ banners.3.title }}"><img src="{{ banners.3.image }}" class="img-responsive"></a></div>
            <figcaption>
              <a href="{{ banners.3.link }}"><i class="icon ion-ios-redo"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="item">
          <figure>
            <div class="image"><a href="{{ banners.2.link }}" title="{{ banners.2.title }}"><img src="{{ banners.2.image }}" class="img-responsive"></a></div>
            <figcaption>
              <a href="{{ banners.2.link }}"><i class="icon ion-ios-redo"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="item">
          <figure>
            <div class="image"><a href="{{ banners.1.link }}" title="{{ banners.1.title }}"><img src="{{ banners.1.image }}" class="img-responsive"></a></div>
            <figcaption>
              <a href="{{ banners.1.link }}"><i class="icon ion-ios-redo"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="item">
          <figure>
            <div class="image"><a href="{{ banners.0.link }}" title="{{ banners.0.title }}"><img src="{{ banners.0.image }}" class="img-responsive"></a></div>
            <figcaption>
              <a href="{{ banners.0.link }}"><i class="icon ion-ios-redo"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-12">
            <div class="item">
              <figure>
                <div class="image"><a href="{{ banners.4.link }}" title="{{ banners.4.title }}"><img src="{{ banners.4.image }}" class="img-responsive"></a></div>
                <figcaption>
                  <a href="{{ banners.4.link }}"><i class="icon ion-ios-redo"></i></a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="item">
              <figure>
                <div class="image"><a href="{{ banners.5.link }}" title="{{ banners.5.title }}"><img src="{{ banners.5.image }}" class="img-responsive"></a></div>
                <figcaption>
                  <a href="{{ banners.5.link }}"><i class="icon ion-ios-redo"></i></a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="item">
          <figure>
            <div class="image"><a href="{{ banners.16.link }}" title="{{ banners.16.title }}"><img src="{{ banners.16.image }}" class="img-responsive"></a></div>
          </figure>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="item">
          <figure>
            <div class="image"><a href="{{ banners.6.link }}" title="{{ banners.6.title }}"><img src="{{ banners.6.image }}" class="img-responsive"></a></div>
            <figcaption>
              <a href="{{ banners.6.link }}"><i class="icon ion-ios-redo"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="item">
          <figure>
            <div class="image"><a href="{{ banners.7.link }}" title="{{ banners.7.title }}"><img src="{{ banners.7.image }}" class="img-responsive"></a></div>
            <figcaption>
              <a href="{{ banners.7.link }}"><i class="icon ion-ios-redo"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="item">
          <figure>
            <div class="image"><a href="{{ banners.8.link }}" title="{{ banners.8.title }}"><img src="{{ banners.8.image }}" class="img-responsive"></a></div>
            <figcaption>
              <a href="{{ banners.8.link }}"><i class="icon ion-ios-redo"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="item">
          <figure>
            <div class="image"><a href="{{ banners.9.link }}" title="{{ banners.9.title }}"><img src="{{ banners.9.image }}" class="img-responsive"></a></div>
            <figcaption>
              <a href="{{ banners.9.link }}"><i class="icon ion-ios-redo"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9">
        <div class="item">
          <figure>
            <div class="image"><a href="{{ banners.17.link }}" title="{{ banners.17.title }}"><img src="{{ banners.17.image }}" class="img-responsive"></a></div>
          </figure>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-12">
            <div class="item">
              <figure>
                <div class="image"><a href="{{ banners.10.link }}" title="{{ banners.10.title }}"><img src="{{ banners.10.image }}" class="img-responsive"></a></div>
                <figcaption>
                  <a href="{{ banners.10.link }}"><i class="icon ion-ios-redo"></i></a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="item">
              <figure>
                <div class="image"><a href="{{ banners.11.link }}" title="{{ banners.11.title }}"><img src="{{ banners.11.image }}" class="img-responsive"></a></div>
                <figcaption>
                  <a href="{{ banners.11.link }}"><i class="icon ion-ios-redo"></i></a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="item">
          <figure>
            <div class="image"><a href="{{ banners.15.link }}" title="{{ banners.15.title }}"><img src="{{ banners.15.image }}" class="img-responsive"></a></div>
            <figcaption>
              <a href="{{ banners.15.link }}"><i class="icon ion-ios-redo"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="item">
          <figure>
            <div class="image"><a href="{{ banners.14.link }}" title="{{ banners.14.title }}"><img src="{{ banners.14.image }}" class="img-responsive"></a></div>
            <figcaption>
              <a href="{{ banners.14.link }}"><i class="icon ion-ios-redo"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="item">
          <figure>
            <div class="image"><a href="{{ banners.13.link }}" title="{{ banners.13.title }}"><img src="{{ banners.13.image }}" class="img-responsive"></a></div>
            <figcaption>
              <a href="{{ banners.13.link }}"><i class="icon ion-ios-redo"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="item">
          <figure>
            <div class="image"><a href="{{ banners.12.link }}" title="{{ banners.12.title }}"><img src="{{ banners.12.image }}" class="img-responsive"></a></div>
            <figcaption>
              <a href="{{ banners.12.link }}"><i class="icon ion-ios-redo"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
